{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
    body{
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        text-align: center;
        background-image: url("https://i.pinimg.com/474x/d3/f7/33/d3f7335a145cefa06c2d4674e34325e9.jpg");
    }
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-weight:500px;color:#783e15;">BakeryShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#" style="color:#482309">{{name}}</a>
        <a class="nav-link active" aria-current="page" href="#" style="color:#482309">{{class}}</a>
        <a class="nav-link" href="{% url 'main:logout' %}" style="color: #bc5b15;">Logout</a>
        </div>
    </div>
    </div>
</nav>
<h1>Edit Product</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Edit Product"/>
            </td>
        </tr>
    </table>
</form>

{% endblock %}