{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
    body{
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        text-align: center;
        background-image: url("https://i.pinimg.com/originals/ce/6a/6f/ce6a6f547ed740343a304abb4ef29ff7.gif");
    }
    .submit{
        background-color: #FFFFFF;
        border: 4px solid#6C3483;
        border-radius: 12px;
        box-sizing: border-box;
        color: #6C3483;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        padding: 10px 15px;
    }
    input,
    textarea{
        margin-top: 5px;
        background-color: #FFFFFF;
        border: 2px solid#6C3483;
        border-radius: 8px;
        box-sizing: border-box;
        color: #6C3483;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        padding: 5px 15px;
    }

    form{
        margin-right: 50px;
    }

    label{
        color:#6C3483;
    }
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-weight:500px;color:#6C3483;">BakeryShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#" style="color:#4f1964">{{name}}</a>
        <a class="nav-link active" aria-current="page" href="#" style="color:#4f1964">{{class}}</a>
        <a class="nav-link" href="{% url 'main:logout' %}" style="color: #BB8FCE;">Logout</a>
        </div>
    </div>
    </div>
</nav>

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div  style="width:550px;height:800px;border-radius: 1rem; background-color:white;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h3 class="fw-bold mb-2 text-uppercase" style="color:#6C3483;padding-bottom: 27px;">Edit Product</h3>
              
              <form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input class="submit" type="submit" value="Edit Product"/>
            </td>
        </tr>
    </table>
</form>
            
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}