{% extends 'base.html' %}
{% block content %}
<style>
    
    body{
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: 100% 100%;
       text-align: center;
       background-image: url("https://i.pinimg.com/originals/ce/6a/6f/ce6a6f547ed740343a304abb4ef29ff7.gif");
    }

    #container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }
    .card {
            
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-height:600px ;
        border-radius: 20px;
         
           
    }
    .button-23 {
        background-color: #FFFFFF;
        border: 1px solid#6C3483;
        border-radius: 7px;
        box-sizing: border-box;
        color: #6C3483;
        cursor: pointer;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
        font-size: 10px;
        font-weight: 500;
        line-height: 20px;
        outline: none;
        padding: 4px 12px;
        text-align: center;
        text-decoration: none;
        touch-action: manipulation;
        transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
        user-select: none;
        -webkit-user-select: none;
        width: auto;
        display: inline-block; 
        position: relative;
    }
    .button-24{
        background-color: #FFFFFF;
        border: 4px solid#6C3483;
        border-radius: 12px;
        box-sizing: border-box;
        color: #6C3483;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        padding: 15px 15px;
    }
    

</style>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#" style="font-weight:500px;color:#6C3483;">BakeryShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#" style="color:#4f1964">{{name}}</a>
            <a class="nav-link active" aria-current="page" href="#" style="color:#4f1964">{{class}}</a>
            <a class="nav-link" href="{% url 'main:logout' %}" style="color: #BB8FCE;">Logout</a>
            </div>
        </div>
        </div>
    </nav>
    <h2 style="color:#6C3483;text-align: center;padding-top: 35px;font-family: Times New Roman, Times, serif;font-style: italic;font-weight: 800;">Baked Goods </h2>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" id="price" name="price"></input>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="col-form-label">Amounts:</label>
                            <input type="number" class="form-control" id="amount" name="amount"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="image_url" class="col-form-label">Image Url:</label>
                            <input type="text" class="form-control" id="image_url" name="image_url"></input>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add_ajax" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>

    <p>{{item}}</p>
    <div id="container"></div>

<script>
        async function getProducts() {
            return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
        }

        async function refreshProducts() {
            document.getElementById("container").innerHTML = "";
            const products = await getProducts()
            let htmlString = ``
            var counter = 1
            var size = Object.keys(products).length;
            products.forEach((item) => {
                htmlString += `\n
                <div style="margin-top:5px;padding: 10px;  padding-bottom: 8px;" class="card">
                <img style="max-height:300px;border-radius:20px;max-width: 500px;"class="card-img" src="${item.fields.image_url}" alt="Product Image"/>
                <h3 style="padding-top:10px;font-size: 24px; font-weight: 700;color:#552468;" >${item.fields.name}</h3>
                <p style="padding-top: 10px; font-size:19px; font-weight: 500;color:#6C3483" > ${item.fields.price}</p>
                <p style="font-size:16px; font-weight: 300;color: #BB8FCE;" > ${item.fields.description}</p>
                <div class="amount-container" style="margin-top: 10px;">
                    
                        <button class="button-23" style="margin-right: 3px;" method="POST" onclick="decrementAJAX(${item.pk})">-</button>
                
                    <span style="font-size: 12px;color:#552468;font-weight: 200px;">${item.fields.amount}</span>
                   
                        <button class="button-23" style="margin-left:3px ;" method="POST" onclick="incrementAJAX(${item.pk})">+</button>
                           
                </div>
                <div class="edit" style="justify-content: space-between;padding-top: 30px;" >
                    
                        <button class="button-23" style="margin-left: 3px;" method="POST" onclick="deleteAJAX(${item.pk})">
                            Remove Item
                        </button>
                  
                </div>
                <p style="padding-top:20px; font-size:10px; font-weight: 450;color:#552468;" > ${item.fields.date_added}</p>
                
            </div>`
        
            })

            document.getElementById("container").innerHTML = htmlString
        }

        refreshProducts()
        
        function addProduct() {
            fetch("{% url 'main:add_product_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshProducts)

            document.getElementById("form").reset()
            return false
        }

        function incrementAJAX(pk) {
            fetch(`{% url 'main:increment_ajax' %}`, {
                method: "POST",
                body: JSON.stringify({
                    "pk":pk
                })
            }).then(refreshProducts)

            return false
        }

        function decrementAJAX(pk) {
            fetch(`{% url 'main:decrement_ajax' %}`, {
                method: "POST",
                body: JSON.stringify({
                    "pk":pk
                })
            }).then(refreshProducts)

            return false
        }

        function deleteAJAX(pk) {
            fetch(`{% url 'main:delete_ajax' %}`,  {
                method: "POST",
                body: JSON.stringify({
                    "pk":pk
                })
            }).then(refreshProducts)

            return false
        }
        document.getElementById("button_add_ajax").onclick = addProduct
</script>

<a href="{% url 'main:create_product' %}">
    <button class="button-24 "style="margin-top:14px;margin-bottom:10px;" >
        Add New Item
    </button>
</a>
<button class="button-24 "style="margin-top:14px;margin-bottom:10px;" type="button" class="btn btn-sm btn-outline mt-2 ml-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Product by AJAX
</button>
<h5 style="margin-top:12px;color:#6C3483;font-family: Times New Roman, Times, serif;font-weight: bold;">You Added {{total_items}} Baked Goods At The Bakery</h5>

<h5 style="margin-top:12px;color:#6C3483;font-family: Times New Roman, Times, serif;font-weight: bold;">Last Login Session: {{ last_login }}</h5>
  {% endblock content %}
